# KAERS login info
USERNAME=your_kaers_username
PASSWORD=your_kaers_password

# our app default login info
FLASK_USERNAME=admin
FLASK_PASSWORD=secure_password_here

# session key for our app
SECRET_KEY=your_secret_key_here # Generate with `python -c 'import secrets; print(secrets.token_hex(16))'`