#Pinning versions to avoid breaking changes, but allowing minor updates for new features and bug fixes
customtkinter>=5.2,<6
gspread>=6.2,<7
openpyxl>=3.1,<4
pandas>=2.0,<3
playwright>=1.37,<2
# protobuf>=4.25,<6 # doesn't seem to be used directly
python-dotenv>=1.0,<2
